{% extends 'listings/base.html' %}

{% block content %}

<div class="container mt-5">
    <h1>À propos de nous...</h1>

    <p class="mt-3 lead">
        Bienvenue chez BandMerch, votre destination ultime pour tous les produits dérivés de vos groupes préférés. Fondée en 2023, notre mission est de connecter les fans avec leurs groupes préférés par le biais de marchandises uniques et de haute qualité. Nous croyons en la puissance de la musique pour rassembler les gens, et nous sommes fiers de jouer notre rôle en soutenant les artistes et en fournissant aux fans des produits qu'ils aiment.
    </p>
</div>

{% endblock %}